{% extends "base.html" %}

{% block content %}
<div>
    <h2>Information</h2>
    {% for item in data %}
    <p>
      <b>Username: </b>{{ item.username }}<br>
      <b>Email: </b>{{ item.email }}<br>
      <b>First Name: </b>{{ item.first_name }}<br>
      <b>Last Name: </b>{{ item.last_name }}<br>
    </p>
    {% endfor %}

    <a href="{% url 'edit_user' %}" class="btn btn-secondary">Edit Profile</a>
<a href="{% url 'change_password' %}" class="btn btn-secondary">Change Password</a>

</div>
{% endblock %}
